<ion-header [translucent]="true">
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button [routerLink]="['/home']" fill="clear">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>

    <ion-title>{{Movie.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourites']" fill="clear">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MovieDetails</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/favourites']" fill="clear">
          <ion-icon slot="icon-only"name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-item-divider *ngIf="Movie">
    <img src="https://image.tmdb.org/t/p/w200/{{Movie.poster_path}}" />
    <p>{{Movie.overview}}</p>
  <ion-button *ngIf="!isFavourites" (click)="FavouritesList()" fill="clear">
    ADD TO FAVOURITES 
    <ion-icon slot="icon-only" name="heart"></ion-icon>
  </ion-button>
  <ion-button *ngIf="isFavourites" (click)="FavouritesList()" fill="clear">
    REMOVE FROM FAVOURITES 
    <ion-icon slot="icon-only" name="heart"></ion-icon>
  </ion-button>
</ion-item-divider>

<h2> Cast</h2>
  <ion-card *ngFor="let actor of cast" (click)="openDetails(actor)">
    <img *ngIf="actor.profile_path" [src]="'https://image.tmdb.org/t/p/w500/' + actor.profile_path"/>
    <p *ngIf="!actor.poster_path">No Image</p>
    <ion-card-header>
      <ion-card-title> {{actor.name}}</ion-card-title>
      <ion-card-subtitle>{{actor.character}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <h2> Crew</h2>
  <ion-card *ngFor="let member of crew" (click)="openDetails(member)">
    <img *ngIf="member.profile_path" [src]="'https://image.tmdb.org/t/p/w500/' + member.profile_path" />
    <ion-card-header>
      <ion-card-title> {{member.name}}</ion-card-title>
      <ion-card-subtitle>{{member.job}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
