<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar Actor Name>
  <ion-button size="large">
    <ion-icon slot="end" name="heart"></ion-icon>
  </ion-button>
</ion-toolbar>
</ion-header>
<ion-card *ngIf="movieInfo">
<img *ngIf="movieInfo.profile_path" src="https://image.tmdb.org/t/p/w500/{{movieInfo.profile_path}}" />
<p *ngIf="!movieInfo.profile_path">No Image</p>
<ion-card-header>
  <ion-card-title>{{movieInfo.also_known_as}}</ion-card-title>
  <ion-card-subtitle>{{movieInfo.birthday}}</ion-card-subtitle>
  <ion-card-subtitle>{{movieInfo.place_of_birth}}</ion-card-subtitle>
  <ion-card-subtitle>{{movieInfo.biography}}</ion-card-subtitle>
</ion-card-header>
</ion-card>
</ion-content>
